;使用方法：在该文本中修改该机器参数并保存，然后拷贝到TF卡或者U盘中。

;在“设置”->“系统”->“系统更新”中选择存储配置文件的TF卡或者U盘

;选择执行该配置文件即可。



M867 S0

;设置系统语言（0：English 1：简体中文）



M868 R0 V100 B280
；R：红色分量

；V：绿色分量

；B：蓝色分量



M860 S2
;设置机型（S0：XYZ；S1：delta；S2：corexy；S3：scara；S4：arm）



M860 X200 Y200 Z200 E0

;X：X轴最大行程  X轴方向打印头可移动的最大距离（即X轴方向打印空间的大小）

;Y：Y轴最大行程  Y轴方向打印头可移动的最大距离（即Y轴方向打印空间的大小）

;Z：Z轴最大行程  Z轴方向打印头可移动的最大距离（即Z轴方向打印空间的大小）

;E：挤出方式（0：单进单出）



M861 X-1 Y1 Z-1

;X：X轴原点位置（-1：min；1：max）

;Y：Y轴原点位置（-1：min；1：max）

;Z：Z轴原点位置（-1：min；1：max）

;根据机器切片软件的坐标系设置打印头归位的物理位置。注意：原点设置的位置应该与限位开关的接线相对应（例如：X轴设置为min，则X轴限位开关的接线应该接到X-min上，如Z轴设置为max，则Z轴限位开关的接线应该接到Z-max上。）



M862 X1 Y1 Z1

;X：X轴MIN限位开关触发模式( 0：低电平触发，1高电平触发)

;Y：Y轴MIN限位开关触发模式( 0：低电平触发，1高电平触发)

;Z：Z轴MIN限位开关触发模式( 0：低电平触发，1高电平触发)

;显示当前Min限位开关的触发模式,H:高电平触发、L：低电平触发；触发状态灯：显示当前限位开关是否被有效触发，绿灯：有效触发、黑灯：未被触发



M863 X1 Y1 Z1

;X：X轴MAX限位开关触发模式( 0：低电平触发，1高电平触发)

;Y：Y轴MAX限位开关触发模式( 0：低电平触发，1高电平触发)

;Z：Z轴MAX限位开关触发模式( 0：低电平触发，1高电平触发)

;显示当前Max限位开关的触发模式,H:高电平触发、L：低电平触发；触发状态灯：显示当前限位开关是否被有效触发，绿灯：有效触发、黑灯：未被触发



M206 X0.000 Y10.000 Z0.000

;X：X轴热头归位后与理论原点偏移量

;Y：Y轴热头归位后与理论原点偏移量

;Z：Z轴热头归位后与理论原点偏移量



M860 A0.000 L0.000 C0.000 R0.000 H0.000

;A：机器半径

;L：推杆长度

;B：效应头偏移量

;C：滑块偏移量

;R：打印半径

;H：打印高度

;此6项值可以参考图片教程或者乐积网页配置中Delta机型图片讲解



M218 A0.000 B0.000 C0.000

;A：α柱归位后限位开关高矮调整量

;B：β柱归位后限位开关高矮调整量

;C：γ柱归位后限位开关高矮调整量

;该设置用于调整三个立柱上的滑块归位后,由于限位开关高度差导致三个滑块不在同一高度面造成打印头中心位置的偏移。



M219 A0.000 B0.000 C0.000

;A：α柱对应推杆误差

;B：β柱对应推杆误差

;C：γ柱对应推杆误差

;推杆误差设置：设置各立柱所对应的实际推杆长度与理论推杆长度的误差。

;设置的误差值=实际推杆长度-理论推杆长度

;例如：理论推杆长度为200mm，实际测量α推杆长度为199.5mm，β推杆长200.3mm，γ推杆长度为200.6mm。

;则α柱推杆误差为：99.5-200=-0.5

;则β柱推杆误差为：200.3-200=0.3

;则γ柱推杆误差为：200.6-200=0.6



M869 P0.200 S0.000 L0.000

;P：换料最小温度值   更换材料时打印头的最低温度

;S：换料速度         更换材料时回抽或送入材料的速度

;L：换料长度         更换材料时送入或抽出材料的长度



M92 X640 Y640 Z400 A418 B0.000

;X：x轴步进值  X轴方向每移动1mm，需要给X轴电机提供的驱动脉冲数

;Y：y轴步进值  Y轴方向每移动1mm，需要给X轴电机提供的驱动脉冲数

;Z：z轴步进值  Z轴方向每移动1mm，需要给X轴电机提供的驱动脉冲数

;A：E1轴步进值 E1挤出机每送入1mm材料，需要给E1轴挤出机电机提供的驱动脉冲数

;B：E2轴步进值 E2挤出机每送入1mm材料，需要给E2轴挤出机电机提供的驱动脉冲数

;同步轮设置方法：(360°/电机步距角) x 细分数 / 同步轮的周长

;例如：使用A4988电机驱动模块，16细分，1.8°步进电机，20齿2GT同步轮。电机转过一圈所需脉冲数：(360°/1.8°)x16 = 3200。

;通过查询可得到20齿2GT同步轮理论周长为40mm，即步进电机带动20齿2GT同步轮转过一圈时可理解为3200个脉冲运行了40mm，则：步进值=3200/40=80。

;丝杆设置方法：(360°/电机步距角) x 细分数 / 丝杆的导程

;例如：使用A4988电机驱动模块，16细分，1.8°步进电机，1204滚珠丝杆。电机转过一圈所需脉冲数：(360°/1.8°)x16 = 3200。

;通过查询可得到1204滚珠丝杆导成为4mm，即步进电机带动1204滚珠丝杆转过一圈时可理解为3200个脉冲运行了4mm，则：步进值=3200/4=800。

;E轴步进值计算公式：(360°/电机步距角) x 细分数 / 挤出轮的周长（周长=π x 直径）



M93 X1 Y1 Z0 A1 B0

;X：x轴电机默认运行方向 （0：正向；1：反向）X轴方向打印头向原点移动时，X轴电机的相对旋转方向

;Y：y轴电机默认运行方向 （0：正向；1：反向）Y轴方向打印头向原点移动时，Y轴电机的相对旋转方向

;Z：z轴电机默认运行方向 （0：正向；1：反向）Z轴方向打印头向原点移动时，Z轴电机的相对旋转方向

;A：E1轴电机默认运行方向（0：正向；1：反向）挤出机1挤出材料时，挤出机电机的相对旋转方向

;B：E2轴电机默认运行方向（0：正向；1：反向）挤出机2挤出材料时，挤出机电机的相对旋转方向



M201 X1200.000 Y1200.000 Z020.000 E800.000

;X：x轴最大加速度 设置X轴移动时加速度的最大值，加速度越大，各轴速度的变化越快。（过大的加速度可能导致机器运行时震动加剧甚至导致电机堵转发生）

;Y：y轴最大加速度 设置Y轴移动时加速度的最大值，加速度越大，各轴速度的变化越快。（过大的加速度可能导致机器运行时震动加剧甚至导致电机堵转发生）

;Z：z轴最大加速度 设置Z轴移动时加速度的最大值，加速度越大，各轴速度的变化越快。（过大的加速度可能导致机器运行时震动加剧甚至导致电机堵转发生）

;E：e轴最大加速度 设置E轴移动时加速度的最大值，加速度越大，各轴速度的变化越快。（过大的加速度可能导致机器运行时震动加剧甚至导致电机堵转发生）



M204 P1500.000 T2000.000 R1000.000

;P：打印移动时最大加速度  打印机在打印物品时综合移动加速度，该值直接影响打印机打印过程中在改变打印方向或速度时的反应快慢，建议设置为X轴最大加速度与Y轴最大加速度中较大值的120%。

;T：空载移动时最大加速度  打印机在移动打印头而不挤出材料时的加速度，该值直接影响打印机仅移动打印头过程中改变移动方向或速度时的反应快慢，建议设置为打印移动最大加速度的120%。

;R：回抽移动时最大加速度  挤出机执行挤出或者回抽动作时的敏捷性，值越高，挤出或回抽动作越干净利落。过大的值会导致挤出机失效，默认值：800



M203 X200.000 Y200.000 Z40.000 E150.000

;X：x轴最大速度  限制X轴方向打印头移动可达到的最大速度

;Y：y轴最大速度  限制Y轴方向打印头移动可达到的最大速度

;Z：z轴最大速度  限制Z轴方向打印头移动可达到的最大速度

;E：e轴最大速度  限制各个挤出机挤出或回抽时的最大速度



M205 P5.000 T5.003 S0.003
;P：打印移动时最小速度  打印机在打印物品时打印头的最慢移动速度。

;T：空载移动时最小速度  打印机在移动打印头而不挤出材料时打印头的最慢移动速度。

;S：衔接移动安全速度    打印头在不需要加速或减速过程参与下实现无过冲现象发生而停下的最大速度。



M205 X20.000 Y20.000 Z5.000 E10.000

;X：x轴突变速度  X轴方向打印头在不需要加速或减速过程参与时可安全改变速度的上限阀值，值越大，转角越锐利，机械震动也越大，受电机启动频率限制，过大会导致电机堵转，值过小，直角变圆角，打印速度更慢。

;Y：y轴突变速度  Y轴方向打印头在不需要加速或减速过程参与时可安全改变速度的上限阀值，值越大，转角越锐利，机械震动也越大，受电机启动频率限制，过大会导致电机堵转，值过小，直角变圆角，打印速度更慢。

;Z：z轴突变速度  Z轴方向打印头在不需要加速或减速过程参与时可安全改变速度的上限阀值，值越大，转角越锐利，机械震动也越大，受电机启动频率限制，过大会导致电机堵转，值过小，直角变圆角，打印速度更慢。

;E：e轴突变速度  E轴电机不需要加速或减速过程参与时可安全改变速度的上限阀值，值越大，挤出或回抽越干净利落，受电机启动频率限制，过大会导致电机堵转



M210 X25 Y25 Z10
;X：x轴归位速度  X轴方向打印头在执行归位时的移动速度，打印过程中执行暂停或恢复暂停时，打印头移动速度也是该值，同时自动调平时打印头的移动速度也是该值。

;Y：y轴归位速度  Y轴方向打印头在执行归位时的移动速度，打印过程中执行暂停或恢复暂停时，打印头移动速度也是该值，同时自动调平时打印头的移动速度也是该值。

;Z：z轴归位速度  Z轴方向打印头在执行归位时的移动速度，打印过程中执行暂停或恢复暂停时，打印头移动速度也是该值，同时自动调平时打印头的移动速度也是该值。



M865 H1 P0

M865 H2 P0

M865 B0

;设定1号热头测温方式 （0：TR NTC100K,1：TC K型热电偶）

;设定2号热头测温方式 （0：TR NTC100K,1：TC K型热电偶）

;设定热床测温方式    （0：TR NTC100K）



M143 H1 S250.000

M143 H2 S250.000

M143 B100.000

;P：热头标号（1：1号热头，2：2号热头，没有找到数字或者没有参数P将把所有热头设置为S参数后面所跟设置）

;B：热床标号

;S：最大温度   打印头可加热到的最大温度，当打印头超过这个温度时，系统将停止打印头加热。

;热床最大温度：热床可加热到的最大温度，当热床超过这个温度时，系统将停止热床加热。



M142 H1 S0.000

M142 H2 S0.000

M142 B0.000

;H：热头标号（1：1号热头，2：2号热头，没有找到数字或者没有参数P将把所有热头设置为S参数后面所跟设置）

;B：热床标号

;S：最小温度   挤出机只有在打印头温度超过最小温度时才会工作，否则挤出机不执行任何动作。

;热床最小温度：热床最低温度，无实际意义，一般设置为0。



M301 H1 P407.300 I25.757 D1610.160

M301 H2 P407.300 I25.757 D1610.160

M304 P898.249 I13.969 D14440.253

;H 热头标号（1：1号热头，2：2号热头）

;P 热头比例系数

;I 热头积分系数

;D 热头微分系数

;PID参数自动整定：自动根据机器热头功率与实际热头温度反应灵敏度计算出热头比例系数，积分系数与微分系数。

;设置PID系数：不建议修改，有扎实PID控制基础的用户除外。



M146 H1 P200.000

M146 H2 P200.000

M146 B P60.000

;设定1号热头PLA预热温度

;设定2号热头PLA预热温度

;设定热床PLA预热温度



M146 H1 A230.000

M146 H2 A230.000

M146 B A60.000

;设定1号热头ABS预热温度

;设定2号热头ABS预热温度

;设定热床ABS预热温度



M146 H1 C210.000

M146 H2 C210.000

M146 B C60.000

;设定1号热头自定义材料预热温度

;设定2号热头自定义材料预热温度

;设定热床自定义材料预热温度



M146 H1 Q200.000

M146 H2 Q200.000

M146 B Q60.000

;设定1号热头快捷预热温度

;设定2号热头快捷预热温度

;设定热床快捷预热温度



M864 P0

;P0：探针仅用于自动调平探测

;P1：探针用于Z轴min限位与自动调平探测



M866 X0.000 Y0.000 Z0.000 A0.000 B0.000 S0.000 P0

;X：x轴方向探针偏移量

;Y：y轴方向探针偏移量

;Z：z轴方向探针偏移量

;A：探针打开角度

;B：探针收起角度

;S：调平点数

;P：探针触发模式 （0：低电平；1高电平）

;X轴探针偏移量：设置探针距离打印喷嘴在X轴方向的偏移量。（正负根据机器坐标系确定）

;Y轴探针偏移量：设置探针距离打印喷嘴在Y轴方向的偏移量。（正负根据机器坐标系确定）

;Z轴探针偏移量：设置探针距离打印喷嘴在Z轴方向的偏移量。（正负根据机器坐标系确定）

;探针收起角度：设置探针位于收回位置时舵机摆臂的角度。

;探针打开角度：设置探针位于打开位置时舵机摆臂的角度。

;调平点数：设置自动调平时对打印平台单边的取样点数，实际调平点数为所设数值的平方。

;例如：设置调平点数设置4，系统实际对打印平台的取样数为：4x4=16个点，调平点数最大可设32，即1024个探测点。

;显示当前限位开关的触发模式,H:高电平触发、L：低电平触发；触发状态灯：显示当前限位开关是否被有效触发，绿灯：有效触发、黑灯：未被触发



M500

;保存所有设置好的参数
